/* Llevo el font size a 10px y trabajar con rem*/
html {
  font-size: 62.5%; }

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 20px;
  justify-content: space-between; }
  footer p {
    color: white;
    line-height: 15px;
    font-family: "Source Serif Pro", serif;
    padding: 0.5rem;
    display: inline-block;
    font-size: 1.4rem; }

.paginas__fondo {
  background-color: #ecead7; }

.item__activo {
  color: yellow; }

.footer_magin {
  margin-top: 20px; }

.paginas__titulo {
  padding-top: 2.5rem;
  font-family: "Lato", sans-serif;
  padding-bottom: 2.5rem;
  text-align: left;
  color: #250596; }

/*************************************************/
/*           INDEX                               */
/*************************************************/
.nav__logo {
  font-size: 2rem;
  font-family: "PT Serif", serif;
  text-align: center;
  margin-top: 0.25rem;
  margin-left: 0.5rem; }

nav ul li a {
  font-size: 1.6rem;
  font-family: "Source Serif Pro", serif;
  margin: 0.5rem 1.5rem 0.5rem 1.5rem;
  justify-content: space-between; }

.home__titulo {
  text-align: center;
  background-color: #312f2f;
  height: 20rem;
  padding-top: 2rem;
  padding-bottom: 2rem; }
  .home__titulo h1 {
    font-size: 5rem;
    font-weight: bold;
    padding-top: 3rem;
    font-family: "PT Serif", serif;
    animation: jackInTheBox;
    animation-duration: 5s; }
  .home__titulo h2 {
    padding-top: 0.5rem;
    animation: jackInTheBox;
    animation-duration: 5s; }
  .home__titulo p {
    padding-top: 3rem; }

.home__detalle {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 1.5rem; }

.home__cards {
  padding-top: 2rem;
  padding-bottom: 2rem;
  justify-content: space-around;
  background-color: #faf09a; }
  .home__cards p {
    font-size: 1.7rem;
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: center;
    font-family: "Fira Sans", sans-serif; }
  .home__cards h3 {
    margin-top: 20px;
    justify-content: space-around;
    padding-top: 5px;
    text-align: center;
    font-family: "Lato", sans-serif; }

.home__carousel {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #faf09a;
  justify-content: center; }

.home__parrafo {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 2rem;
  font-family: "Fira Sans", sans-serif; }

.home__imgCollage {
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0; }

/*************************************************/
/*              SERVICIOS                        */
/*************************************************/
.servicios__cardTitulo {
  font-family: "Lato", sans-serif;
  text-align: center; }

.servicios__cardTexto {
  font-family: "Fira Sans", sans-serif;
  font-size: 1.4rem;
  text-align: center; }

.servicios__espacioRow {
  padding-bottom: 3rem; }

.servicios__espacioColIzq {
  margin-left: 2rem; }

.servicios__espacioColDer {
  margin-right: 2rem; }

.card {
  margin-left: 5px;
  margin-right: 5px; }

/*************************************************/
/*              PRODUCTOS                        */
/*************************************************/
.productos__ul {
  padding-left: 1rem; }

.productos__texto {
  font-family: "Fira Sans", sans-serif;
  font-size: 1.7rem; }

ul li h2 {
  font-family: "Lato", sans-serif;
  padding-bottom: 1.5rem; }

/*************************************************/
/*          NUESTROS TRABAJOS                    */
/*************************************************/
.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important; }

#image-gallery .modal-footer {
  display: block; }

.thumb {
  margin-top: 15px;
  margin-bottom: 15px; }

.trabajos__modalTitulo {
  font-family: "Lato", sans-serif;
  text-align: left;
  color: #250596; }

/*************************************************/
/*          PEDIDOS ONLINE                       */
/*************************************************/
.pedido__info {
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: space-around;
  background-color: #faf09a;
  margin-bottom: 2rem; }
  .pedido__info h3 {
    justify-content: space-around;
    padding-top: 5px;
    text-align: center;
    font-family: "Lato", sans-serif; }
  .pedido__info p {
    font-size: 1.8rem;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-family: "Fira Sans", sans-serif; }
  .pedido__info img {
    padding-bottom: 1rem; }

/*************************************************/
/*          CONTACTO                             */
/*************************************************/
.form__label {
  color: black;
  line-height: 10px;
  font-size: 1.2rem;
  font-family: 'Inter', sans-serif;
  padding-left: 5px; }

form {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px; }

.contacto__direccion {
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: space-around;
  background-color: #312f2f;
  margin-bottom: 1rem;
  text-align: center;
  width: 100%; }
  .contacto__direccion h1 {
    justify-content: space-around;
    padding-top: 5px;
    font-family: "Lato", sans-serif; }

div iframe {
  margin-top: 20px;
  width: 100%; }

/*************************************************/
/*          MEDIA QUERIES                        */
/*************************************************/
@media (max-width: 335px) {
  .carousel-inner img {
    width: 75%;
    height: 75%; }
  .home__titulo {
    text-align: center;
    background-color: #312f2f;
    height: 20rem;
    padding-top: 1rem;
    padding-bottom: 1rem; }
    .home__titulo h1 {
      font-size: 4rem;
      font-weight: bold;
      padding-top: 1rem;
      font-family: "PT Serif", serif;
      animation: jackInTheBox;
      animation-duration: 5s; }
    .home__titulo h2 {
      padding-top: 0.5rem;
      animation: jackInTheBox;
      animation-duration: 5s; } }

@media (min-width: 335px) and (max-width: 576px) {
  .carousel-inner img {
    width: 75%;
    height: 75%; }
  .home__titulo {
    text-align: center;
    background-color: #312f2f;
    height: 20rem;
    padding-top: 1rem;
    padding-bottom: 1rem; }
    .home__titulo h1 {
      font-size: 4rem;
      font-weight: bold;
      padding-top: 3rem;
      font-family: "PT Serif", serif;
      animation: jackInTheBox;
      animation-duration: 5s; }
    .home__titulo h2 {
      padding-top: 0.5rem;
      animation: jackInTheBox;
      animation-duration: 5s; } }

@media (min-width: 576px) and (max-width: 768px) {
  .carousel-inner img {
    width: 75%;
    height: 75%; }
  .home__titulo {
    text-align: center;
    background-color: #312f2f;
    height: 20rem;
    padding-top: 1rem;
    padding-bottom: 1rem; }
    .home__titulo h1 {
      font-size: 5rem;
      font-weight: bold;
      padding-top: 3rem;
      font-family: "PT Serif", serif;
      animation: jackInTheBox;
      animation-duration: 5s; }
    .home__titulo h2 {
      padding-top: 0.5rem;
      animation: jackInTheBox;
      animation-duration: 5s; }
  .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2; } }

@media (min-width: 768px) and (max-width: 992px) {
  .carousel-inner img {
    width: 75%;
    height: 75%; }
  .home__titulo {
    text-align: center;
    background-color: #312f2f;
    height: 20rem;
    padding-top: 1rem;
    padding-bottom: 1rem; }
    .home__titulo h1 {
      font-size: 5rem;
      font-weight: bold;
      padding-top: 3rem;
      font-family: "PT Serif", serif;
      animation: jackInTheBox;
      animation-duration: 5s; }
    .home__titulo h2 {
      padding-top: 0.5rem;
      animation: jackInTheBox;
      animation-duration: 5s; }
  .col-md-12 {
    height: 500px; }
  .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2; } }

@media (min-width: 992px) and (max-width: 1300px) {
  .carousel-inner img {
    width: 40%;
    height: 40%; }
  .home__titulo {
    text-align: center;
    background-color: #312f2f;
    height: 20rem;
    padding-top: 1rem;
    padding-bottom: 1rem; }
    .home__titulo h1 {
      font-size: 5rem;
      font-weight: bold;
      padding-top: 3rem;
      font-family: "PT Serif", serif;
      animation: jackInTheBox;
      animation-duration: 5s; }
    .home__titulo h2 {
      padding-top: 0.5rem;
      animation: jackInTheBox;
      animation-duration: 5s; }
  .col-md-12 {
    height: 800px; }
  .card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3; } }

@media (min-width: 1300px) {
  .col-md-12 {
    height: 800px; }
  .card-columns {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4; } }
